.cardContainer{
	margin: 15px;
	font-size: 0.8rem;
	box-shadow: #111 6px 6px;
	border: 2px solid #111;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}

.Card{
	color: #fff;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 1.5;
	letter-spacing: 0.09em;
	align-items: center;
	width: 280px;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.65);
	transition: all 0.5s ease-in-out;
}

.cardContainer h4:hover{
	background-color: aqua;
	transform: scale(0.95);
	transition: all 0.5s ease-in-out;
}


/* .cardContainer.Link.Card.namex:hover{
	transform: scale(0.95);
	transition: all 0.5s ease-in-out;
}
.namex:hover{
	transform: scale(0.95);
	transition: all 0.5s ease-in-out;
}


.namex:not(:hover)  {
	transition: all 0.5s ease-in-out;
}

.divGenre:hover{
	transform: scale(0.95);
	transition: all 0.5s ease-in-out;
}

.divGenre:not(:hover){
	transition: all 0.5s ease-in-out;
} */


.cardContainer:hover{
	transform: scale(1.05);
	background-color: rgba(0, 0, 0, 0.4);
	transition: all 0.5s ease-in-out;
	
}


.link{
	text-decoration: none;
}
